alias asciicast2gif='docker run --rm -v $PWD:/data asciinema/asciicast2gif'
alias chrome='open /Applications/Google\ Chrome.app'
alias ctags="`brew --prefix`/bin/ctags"
alias c=cargo
alias cb='cargo build'
alias cr='cargo run'
alias cw='cargo watch'
alias fb=firebase
alias e=exercism
alias g=git
alias gaac='git add -A && git commit -m'
alias gcontributors='git log --format='%aN' | sort -fu'
alias gd='git diff'
alias ghb='gh repo view -w'
alias ghbb='gh repo view -w -b $(git rev-parse --abbrev-ref HEAD)'
alias ghi='git hist -n'
alias glbd="git branch | grep -v -e master -e main | xargs git branch -d"
alias glbD="git branch | grep -v -e master -e main | xargs git branch -D"
alias gmpc='git com && gp && glbd && g rpo'
alias gpuo='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpuon='gpuo --no-verify'
alias gp='git pull'
alias gpfu='git push -fu --no-verify'
alias gs='git status'
alias h=heroku
alias hist=history
alias j=jobs
alias k=kubectl
alias kt=kubetail
alias mk=minikube
alias sbp='. ~/.bashrc'
alias szp='. ~/.zshrc'
alias tf=terraform
alias tm=tmux
alias vi=vim

if type nvim > /dev/null; then
  alias vim=nvim
fi

# Don't set color for macOS
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias ls='ls -aFhlG'
else
  alias ls='ls -aFhlG --color=auto'
fi
