alias chrome='open /Applications/Google\ Chrome.app'
alias g=git
alias gaac='git add -A && git commit -m'
alias gd='git diff'
alias git=hub
alias gp='git pull'
alias gs='git status'
alias gca='git commit --amend'
alias gh='git hist -n'
alias h=heroku
alias hist=history
alias ls='ls -aFhlG'
alias tm=tmux
alias sbp='. ~/.bashrc'
alias j=jobs
alias vi=vim
