[alias]
	st = status
	s = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	cob = checkout -b
	ci = commit -m
	b = branch
	com = checkout master
	aa = add -A
	d = diff
	rhh = reset HEAD --hard
[color]
	ui = true
[push]
	default = upstream
[help]
	autocorrect = 1
[include]
	path = ~/.gitconfig.local
[core]
	editor = vim
[credential]
	helper = osxkeychain
[user]
	email = st3v3n.hunt@gmail.com
[github]
	user = st3v3nhunt
[ghi]
	token = !security find-internet-password -a st3v3nhunt -s github.com -l 'ghi token' -w
