[alias]
	aa = add -A
	b = branch
	ci = commit -m
	ca = commit --amend
	co = checkout
	cob = checkout -b
	com = checkout master
	d = diff
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	pfu = push -fu --no-verify
	pu = push -u
	puo = push -u origin
	pr = pull-request
	rhh = reset HEAD --hard
	rpo = remote prune origin
	s = status
	st = status
[color]
	ui = true
[push]
	default = upstream
[help]
	autocorrect = 1
[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	email = st3v3nhunt@users.noreply.github.com
	name = Steven Hunt
[github]
	user = st3v3nhunt
[ghi]
	token = !security find-internet-password -a st3v3nhunt -s github.com -l 'ghi token' -w
[gpg]
	program = gpg
[include]
	path = .gitconfig.local
[hub]
	protocol = https
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
