[alias]
	aa = add -A
	b = branch
	ci = commit -m
	ca = commit --amend
	co = checkout
	cob = checkout -b
	com = checkout master
	d = diff
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	pfu = push -fu --no-verify
	pu = push -u
	puo = push -u origin
	pr = pull-request
	rhh = reset HEAD --hard
	rpo = remote prune origin
	s = status
	st = status
[color]
	ui = true
[push]
	default = upstream
[help]
	autocorrect = 1
[core]
	editor = vim
[user]
	email = st3v3nhunt@users.noreply.github.com
	name = Steven Hunt
[github]
	user = st3v3nhunt
[ghi]
	token = !security find-internet-password -a st3v3nhunt -s github.com -l 'ghi token' -w
[gpg]
	program = gpg
[include]
	path = .gitconfig.local
