alias sbp='. ~/.bashrc'
alias ls='ls -aFhlG'
alias vi=vim
alias git=hub
alias chrome='open /Applications/Google\ Chrome.app'
alias atom='open /Applications/Atom.app'
alias gaac='git add -A && git commit -m'
alias gs='git status'
alias j=jobs
alias h=heroku
alias hist=history
