alias sbp='. ~/.bashrc'
alias ls='ls -aFhlG'
alias vi=vim
alias git=hub
alias g=git
alias chrome='open /Applications/Google\ Chrome.app'
alias gaac='git add -A && git commit -m'
alias j=jobs
alias h=heroku
alias hist=history
