[alias]
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	cob = checkout -b
	ci = commit -m
	b = branch
	com = checkout master
	aa = add -A
	d = diff
	rhh = reset HEAD --hard
[color]
	ui = true
[push]
	default = upstream
[help]
	autocorrect = 1
[include]
	path = ~/.gitconfig.local
